.Home {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  .Home-Title {
    font-size: 1.5em;
  }
  
  .Home-Subtitle {
    font-size: 1.25em;
  }
  .Home-Album{
      padding: 50px;
  }

