.ArtistCover-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  border-radius: 50%
}

.ArtistCover-root:hover {
  background-color: #ebebeb;
}

.ArtistCover-img {
  width: 175px;
  height: 175px;
  margin-bottom: 5px;
  border-radius: 50%
}

.ArtistCover-name {
  text-align: center;
  width: 100%;
}
